body {
	background-color:white;
}
div#board {
	position: relative;
	width: 1024px;
	height: 863px;
	margin: auto;
	background: url("board.jpg") no-repeat;
}

div#message {
	position: absolute;
	top: 0px;
	left: 0px;
	color: darkcyan;
	font-size: 5em;
	font-style: italic

}

table {
	border-spacing: 0px; 
	position: absolute;
	left: 173px;
	top: 98px;
}
td {
	width: 94px;
	height: 94px;
}
form {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	background-color:greenyellow;
}
form input {
	background-color:white;
	border-color: blue;
	font-size: 1em;
}

.hit {
	background:url('ship.png') no-repeat center;
}

.miss {
	background:url('miss.png') no-repeat center;
}
