<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TICKTOCK</title>
  <script>
	const display = text => { 
		var message = document.getElementById("message"); 
		message.innerHTML = message.innerHTML + text;
	}
	let tick = true;

	const ticker = () => {
		if (tick) {
			display("TICK");
			tick = false;
		} else {
			display("TOCK");
			tick = true;
		}
	}

	window.onload = function() {
		setInterval(ticker, 1000);
	}

  </script>
</head>
<body>
<p id="message"></p>
</body>
</html>